section
{
	width: 80%;
	margin: auto;
	text-align: justify;
	z-index: -1;
}

#toolbar
{
	width: 100%;
	text-align: center;
	position: fixed;
	top:0;
	left: 0;
	height: 40px;
	text-decoration: none;
	box-shadow: 0px 0px 4px black;
	background-color: rgba(255,255,255,0.6);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
}

#toolbar li
{
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0;
}

table, table tr, table td
{
	border-collapse: collapse;
	padding: 2px;
	border:1px solid #000;
}

thead
{
	color: white;
	font-weight: bold;
	background-color: #25739f;
}

.valid
{
	background-color: #7AB900;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
}

.noacces
{
	background-color: #BBB;
	background-image: -webkit-linear-gradient(-20deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
	background-size: 35px 30px, 100% 100%, 100% 100%;

}

#pgbar
{
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

#pgbar::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#pgbar::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-20deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #7AB900,#7AB900);

    border-radius: 2px; 
    background-size: 35px 30px, 100% 100%, 100% 100%;
}